#!/usr/bin/env zsh

function banner() { toilet -w "$(tput cols)" "$@" }

function finish() { eval "$@" && finished "$@" }

function gibdrb() { git checkout master && git pull origin && git checkout "$1" && git rebase master && git checkout master && git branch -d "$1" }

function notify() {
  local command=''
  if test -n "$1"; then command="$command with title \"$1\""; fi
  if test -n "$2"; then command="$command subtitle \"$2\""; fi
  if test -n "$3"; then command="$command sound name \"$3\""; fi
  command="display notification \"${@:4}\"$command"
  osascript -e "$command"
}

function notify-alert() { notify 'Alert' "$1" 'Ping.aiff' "${@:2}" }

function notify-beginning() { note 'Beginning' "$@" }

function notify-ending() { note 'Ending' "$@" }

function notify-failed() { warning 'Failed' "$@" }

function notify-finished() { alert 'Finished' "$@" }

function notify-note() { notify 'Note' "$1" 'Pop.aiff' "${@:2}" }

function notify-starting() { note 'Starting' "$@" }

function notify-stopping() { note 'Stopping' "$@" }

function notify-succeeded() { alert 'Succeeded' "$@" }

function notify-warning() { notify 'Warning' "$1" "Basso.aiff" "${@:2}" }

function page() { "$@" |& less -F }

function port() { lsof -ni ":$1" | grep LISTEN }

function up() { while test "$(pwd)" != "/" && test "$(basename "$(pwd)")" != "$1"; do cd ..; done }

# Use `sudo mdutil -i off "/Volumes/foo"` to stop indexing any volume.
