[alias]
	code-commits = "!f() { git log --pretty=format:'%C(yellow)%h%Cblue%ad%Creset%s%Cgreen[%cn] %Cred%d' --decorate --date=short -S$1; }; f"
	commit-all = "!git add -A && git commit -av"
	commit-branches = "!f() { git branch -a --contains $1; }; f"
	commit-tags = "!f() { git describe --always --contains $1; }; f"
	contributors = "shortlog --summary --numbered"
	delete-merged = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	history = "log --pretty=oneline -n 20 --graph --abbrev-commit"
	message-commits = "!f() { git log --pretty=format:'%C(yellow)%h%Cblue%ad%Creset%s%Cgreen[%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"
	pull-all = "!git pull origin master; git submodule foreach git pull origin master"
[branch]
	autosetuprebase = always
[core]
	autocrlf = input
	pager = less -+F -+X
	precomposeunicode = false
	safecrlf = true
	trustctime = false
[diff]
	colormoved = zebra
	renames = copies
[diff "bin"]
	textconv = hexdump -v -C
[fetch]
	prune = true
[gpg]
	format = ssh
[gpg "ssh"]
	defaultkeycommand = ssh-add -L
[include]
	path = ~/.gitconfig.local
[init]
	defaultbranch = master
[pull]
	rebase = true
[rebase]
	autosquash = true
	autoupdate = true
[rerere]
	enabled = true
	autoupdate = true
[user]
	email = willfaught@users.noreply.github.com
	name = Will Faught
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[advice]
	skippedCherryPicks = false
