"\e[1;5C": forward-word # Ctrl right for moving forward on the readline by word
"\e[1;5D": backward-word # Ctrl left for moving backward on the readline by word
"\e[1~": beginning-of-line # Home
"\e[3;3~": kill-word # Use Alt/Meta + Delete to delete the preceding word
"\e[3~": delete-char # Delete for wonky terminals
"\e[4~": end-of-line # End
"\e[A": history-search-backward # Use typed text as the prefix for searching through commands
"\e[B": history-search-forward # Use typed text as the prefix for searching through commands
"\e[Z": menu-complete # Flip through autocompletion matches with Shift-Tab

set bell-style none # Disable beeping and window flashing
set completion-ignore-case on # Make tab autocomplete regardless of filename case
set completion-query-items 200 # Ask to show more than 200 possible completions
set convert-meta off # Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set expand-tilde off # Do not expand "~" to the home directory when completing.
set history-preserve-point on # Try to stay at the same position when moving through the history
set input-meta on # Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set mark-symlinked-directories on # Add a trailing slash when autocompleting symlinks to directories
set match-hidden-files off # Do not autocomplete hidden files unless the pattern explicitly begins with a dot
set output-meta on # Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set page-completions off # Show all autocomplete results at once
set show-all-if-ambiguous on # List all matches in case multiple possible completions are possible
set skip-completed-text on # Autocompletion looks at the text after the cursor
set visible-stats on # Show extra file information when completing, like `ls -F` does
